<html>
    <body>
        <div style="text-align: right">
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        {{#task}}
            <div style="font-size: 35px">
                <form method="post">
                <strong>Id:  </strong><span>{{id}}</span><br>
                <strong>Task:  </strong><input type="text" value="{{text}}" name="text"><br>
                <strong>Author:  </strong><span>{{userName}}</span>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                    <br>
                <input type="submit" value="Save">
                </form>
            </div>
        {{/task}}
        <div style="color: green;
                    font-size: 20px">
            {{#msg}}
                {{msg}}
            {{/msg}}
        </div>
        {{#task}}
        <form method="post" action="{{id}}/delete">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Delete task">
        </form>
        {{/task}}
        <a href="/main">Back</a>
    </body>
</html>