<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Error! </title>
    </head>
    <body>
        <h1 align="center">Task with this id is not found</h1>
        <div style="text-align: left">
            <a href="/main">Back</a>
        </div>
    </body>
</html>