<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Greetings! </title>
    </head>
    <body>
        <h1 align="center">Task list</h1>
        <div style="text-align: center">
            <a href="/main">Login</a>
            <br>
            <a href="/registration">Registration</a>
        </div>
    </body>
</html>