<html lang="en">
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                setInterval(function ()
                {
                    $( "#test" ).load(window.location.href + " #test" );
                }, 500);
            });
        </script>
    </head>
    <body>
        <div style="text-align: right">
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div>
            <h1>Add new Task</h1>
            <form method="post" >
                <input type="text" name="text" placeholder="Input task" />
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <button type="submit">Add</button>
            </form>
            <div style="color:red">
            {{#msg}}
                {{msg}}
            {{/msg}}
            </div>
            </div>

        <div style="text-align: center">
            <h1>List of tasks</h1>
        </div>

        <div id="test">
                {{#tasks}}
                    <div id="show">
                        <span>{{text}}</span><br>
                        Author:
                        <strong> {{userName}}</strong>
                        <div style="text-align: right;
                            padding-right: 1300px">
                            <a href="/main/{{id}}" >Edit</a>
                            <a href="/main/{{id}}/share" >   Share</a>
                        </div>
                    </div>
                {{/tasks}}
        </div>
    </body>
</html>